{% extends "base.html" %}
{% block scripts %}
{{super()}}
<script type="text/javascript" charset="utf-8">
    var socket;
    $(document).ready(function(){
        socket = io.connect('http://' + document.domain + ':' + location.port + '/livefeed');
        socket.on('connect', function() {
            socket.emit('joined', {});
        });

        socket.on('stats_vals', function(data) {
            console.log(data.data);
            var wobj=JSON.parse(data.data);
            var weights=data.data.weight
            $.each(wobj,function(i,weight) {console.log(weight)});

            $('#chat').val($('#chat').val() + data.msg + '\n');
            $('#chat').scrollTop($('#chat').scrollHeight);
        });

        socket.on('dates', function(data){
        console.log(data.data);
        var theads=$('#STATS').find('thead tr').children();
        $.each(data.data,function(i, cdate){
        theads[i].innerText=cdate;
        console.log(theads[i]);
        console.log(cdate);
        });
      });
      socket.on('my_response', function(data){
      console.log(data);
    });
    });

    function get_data() {
        console.log('button pressed');
        socket.emit('get_stats', {});
        };

    function get_week() {
        console.log('button pressed');
        socket.emit('get_week', {});
        };
</script>
{% endblock %}

{% block content %}
    <body>
        <h1>Flask-SocketIO</h1>
        <a href="#" onclick="get_week();">Get Dates</a>
        <a href="#" onclick="get_data();">Get Data</a>
        <table id="STATS" class="table">
          <thead>
            <th class='text-center'>1</th>
            <th class='text-center'>2</th>
            <th class='text-center'>3</th>
            <th class='text-center'>4</th>
            <th class='text-center'>5</th>
            <th class='text-center'>6</th>
            <th class='text-center'>7</th>
          </thead>
        <tr id='wr'>
          <td class='text-center'>1</td>
          <td class='text-center'>2</td>
          <td class='text-center'>3</td>
          <td class='text-center'>4</td>
          <td class='text-center'>5</td>
          <td class='text-center'>6</td>
          <td class='text-center'>7</td>
        </tr>
        <tr id='wc'>
          <td class='text-center'>1</td>
          <td class='text-center'>2</td>
          <td class='text-center'>3</td>
          <td class='text-center'>4</td>
          <td class='text-center'>5</td>
          <td class='text-center'>6</td>
          <td class='text-center'>7</td>
        </tr>
        <tr id='wa'>
          <td class='text-center'>1</td>
          <td class='text-center'>2</td>
          <td class='text-center'>3</td>
          <td class='text-center'>4</td>
          <td class='text-center'>5</td>
          <td class='text-center'>6</td>
          <td class='text-center'>7</td>
        </tr>
      </table>
    </body>
{% endblock content %}
