{% extends 'bootstrap/base.html' %}
{% block scripts %}
{{super()}}
<script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

{% endblock %}
{% block styles %}
{{super()}}
{% endblock %}
{% block title %}
    {% if title %}{{ title }} - HD{% else %}Health Dashboard{% endif %}
{% endblock %}

{% block navbar %}
{% endblock %}
{% block content %}
    <div class="container" role="main">
        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}
